/* Estilo para barra de rolagem*/

::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #1e1e1e; 

}

::-webkit-scrollbar-track {
    background:#ffffff;
}

::-webkit-scrollbar {
    width: 10px;
}




/* scroll */
html{
    scroll-behavior: smooth;
}